
/* Settings autofill form fields */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color:  #fff;
  -webkit-box-shadow: 0 0 0px 1000px #white inset;
  transition: background-color 5000s ease-in-out 0s;
  border-bottom: 2px solid #fff;
}

/* Settings for the TOP whrere there is a house etc 
actually the header */

html,
}
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  overflow-x: hidden;
}
 body{ 
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1px;
}
a.invisible
{
display:none;
}
* { 
margin: 0;
padding: 0;
list-style-type: none;
}
body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  text-decoration: none;
}
a:hover,
a:focus{
  color: grey;
  font-weight: 300;
}
hr{
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light{
  border-color: gray;
}
h1{
 font-weight: 300;
 font-family: 'Roboto';	
}
h2{
font-weight: 300;	
}
h3,
h5 {
  margin-top:30pt;
}
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  letter-spacing: 1px;
}

.stylecontacts {
	margin-left: -15px
}

.miljobox {
	padding: 0
}
p{
    font-size: 12pt;
    line-height: 1.5;
    margin-top: 20px;
    color: #607D8B;
}
.bx-wrapper .bx-next:hover {
	background: white;
	border-radius: 30px;
	width: 40px;
	height: 40px;
}
.juicer-feed h1.referral {
	display: none!important;
}
#appdownloadDesk {
	display: none;
}
#toprow{
	margin-top: -60px;
	margin-left: 40px;
}
#mainNav {
	max-width: 100%;
}

  #contactTitle {
    margin-top:30px;
    margin-left: 10px;
    font-size: 15pt;
  }
.readMore {
  float:left;
  margin-left: 20px;
  vertical-align: bottom;
  margin-bottom: 20px;
}
#student, #rosendal, #comhem {
   height: 250px;
   text-align: center;
}

.card {
	padding: 0;
}
#caselist{
	list-style-type: none;
	font-size: 12pt;
	margin-top:20px;
	font-family: 'Roboto Slab', serif;
	color: #ffffff;
    font-family: 'Roboto Slab', serif;
} 
.nyheterna {
	text-align: justify;
	margin-left: -14px;
	margin-top: 15px;
}
#caselist li {
	outline: none;
	margin-bottom: -0.5em;
}
#caselist a{
	color: #b0bec5;
	font-family: 'Roboto Slab';
	outline: none; 
}
#caselist a:hover{
	text-decoration: none;
	font-family: 'Roboto Slab';
	outline: none; 
	font-weight: 500;
	color: #07589b;
}
#caselist a:active{
	text-decoration:;
	color: green;
	font-family: 'Roboto Slab';
	outline: none; 
	font-weight: 500;
}
.smaragd {
    margin-right: 40px; 
    padding-bottom:50px;
	width: 400px;
	margin-left: 40px;
}
.ui-tabs-active > a {
	color: #07589b!important;
}
.form-group {
}
#tmplteam {
	/*width: 200px;*/
	margin: 0;
	display: none;
}

#bigteam{
	height: 400px;
	margin-left: 3em;
}
#big {
    font-size: 25pt;
    margin-top: 75px;
    width: 100%;
    font-family: "Roboto Slab";
    font-weight: 300;
}

.navbar-default {
 background: url("../img/bghead.png"); 
  background-size: cover; ; /* CHANGE THE COLOR OF THE HEADER */
  border-color: transparent;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  letter-spacing: 1px;

}
.navbar-default .navbar-header .navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 1em;
  color: white;
  padding: 8px 10px;
  background-color: transparent;
  margin-right: 20px;
  margin-top: 20px;
}
.navbar-default .nav > li > a {
  font-family: 'Roboto Slab', serif;s
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 1.64em;
  color: white;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: white;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: white;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: white !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: white;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #07589b;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: white;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: white;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
   color: gray;
 }
.navbar-nav>li {
	margin-bottom: 15px;
	margin-top: -15px;
}
#logo {
	height: 100%;
}

#topnav{
	padding: 28px 32px 32px 32px;

}

#cross {
	display: none;
}


#big {
	font-size: 25pt;
	margin-top:75px;
	width: 100%;
	margin-left: -25px;
	padding-left: 0;
}

#changeSize {
	margin-right: 0 !important;
}

/* #hamburger {
	float: right;
} */


#logoPicture {
    margin-left: 20px;
	margin-top: 20px;
    width:100px;
	height: auto;

}

#house {
	width: 500px;
}

#housedesk {
	margin: auto;
	width: 25em;
}


#imgForDesk {
	display: none;
}


a.page-scroll {
	text-decoration: none;

}




h5 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;

}

header {

/* 	height: 45px; */

}

.topButton {
	float: right;
	width: 45px;
	border: none;
	color: white;
	background-color: #b6ceda;
	font-size: 1.4em;
}

	
	
}


#appbutton {
	padding: 8px 40px;
	background-color:;
	color: white;
	border: none;
	margin: 20em 0 4em 0;
	text-align: : center;
}

#toptext {
    font-family:"Roboto";
	line-height: 150%;
	font-size: 0.9em;
	/* width: 125%; */
	text-align: left;
	color: white;
	padding-top: 45px;
    margin-bottom: 40px;
    margin-left: -25px;
    padding-left: 0;
}

#appdownload {
	margin-top: 30px;
}


#appbutton a img {

	
}


/* Second part where we have 3 boxes
I where the flip will be */

.i-tabs-tab {
	text-decoration: none;
}



#topinfo {
	margin: 5em 0 0 -2.5em;
	color: white;
	height: 100%;
	width: 100%;
	text-align:left;
}

#topinfo > h1 {
	margin: 0 0 1.7em 0;
}

#topinfo > img {
	margin: 1em 0 1.7em 0;
}

#topinfo > button {
	margin: 2.3em 0 1.7em 0;
}

#first {
	background: url("../img/bghead.png");
	background-size: cover;
}

#grafen {
	padding-left: 0
}


#second {
	background: url("../img/bghead.png");
	background-size: cover;
}


#smallerOne {
	padding: 0;
}

#fliptext1 {
	line-height: ;
	font-family:"Roboto";
	width: 80%;
	font-size: 11pt;
	text-align: left;
	margin-top:-90px;
	color: #607D8B;
	margin-left: 10px;

}


#fliptext2 {
	line-height: 150%;
font-family:"Roboto";
	width: 80%;
	font-size: 12pt;
	text-align: left;
	margin-top:70px;
	color: #607D8B;
}
#fliptext3 {
	line-height: 150%;
	font-family:"Roboto";
	width: 80%;
	font-size: 12pt;
	text-align: left;
	color: #607D8B;
}
.socialfront {
	width: 90%
}
.boxOne {
    padding: 30px 1em 2em 20px;
    max-width: 100%;
}

#social {
	height: 27em;
	background: #F1F9FD;
}

#miijo, #ekonomi {
	height: 20em;
	text-align:left;
}

#social {
	background: #F1F9FD;
	
}

#miijo {
	background: #EEF9E2;
}

#ekonomi {
	background: #E0F6FF;
}
.something{
	margin-top: 80px;
	height: 700px;

}
.something2 {
	height: 350px;
}



#additInfo a.bx-next {
	display: none!important;
}

#additInfo a.bx-prev {
	display: none!important;
}
#vadvigor {
	color: white;
	padding-left: 0;
	font-size: 1.67em;
	margin-left: -45px;
    width: 120%; 
    margin-top: 0;
}

#casesline {
	color: #607D8B;
  	font-family: 'Roboto Slab', serif;
	padding-left: 0;
	padding-bottom: 1em;
	font-size: 18pt;
	font-weight: 300;

}

#celltext {
	padding: 0;
	font-family:"Roboto";
	color: white;
	font-size: 12pt;
	text-align: left;
	margin-left: -45px;
	width: 120%;
}




.front h2 { 
	text-align: center;
}

/* settings for images in this part so the can 
be same size  */
 .imgSmall {
	display: block;

}

.imgBig {
	width: 8em;
	height: auto;
	margin: 0 auto;
}

.imgSmall {
	width: 3em;
	height: auto;
}


.deskImg {
	display: none!important;
}

/* set the text and the arrow */

.textWithArrow {
	display: inline-block;
}

.textWithArrow p {
	margin: inherit;
	display: block;
	text-align:left;
	 
}

.clickbutton {
	display: block;
	border: none;
	background: none;
	font-size: 3em;
	margin: 0 auto;
	padding: 0;

}

.boxOne .bx-pager {
display: none!important;
}

#teamet{
	margin-top: 10px;
	font-size: 20pt;
	margin-left: 
}
#newstext{
    font-family:"Roboto";
	margin-bottom: -20px;
	font-size: 12pt;
	text-align:left;
	color: #607D8B;
	margin-left: -5px;
	width: 83%;
	-webkit-animation: 0;
}
#socialtext {
	padding-top: 60px;
}

.teamtext{
    font-family:"Roboto";
	margin-bottom: 20px;
	font-size: 12pt;
	text-align:left;
	color: #607D8B;
	margin-top:30px;
      
}
#teamtext2{
    font-family:"Roboto";
	margin-bottom: 20px;
	font-size: 12pt;
	text-align:left;
	color: #607D8B;
}

    margin-right:35px;
    
}


#casetext1{
	font-size: 12pt;
	text-align:left;
	color: #607D8B;
    font-family:"Roboto Slab";
    font-weight: 300;
   	text-decoration: none;
}
#casetext1:hover {
	opacity:1.0;
	box-shadow:none;
	font-weight: 300;	

}


#meddelande {
	color: lightgrey;
	margin-left: 35px;
	font-size: 20px;
	font-family: 'Roboto slab', sans-serif;
}

#cases {
    padding-top: 0px;
    padding-left: 15px;
    line-height: 45px;
    margin-bottom:120px;
    font-size: 12pt;
    text-align: left;
    color: #607d8b;
    font-family: 'Roboto Slab';
    font-weight: 200;
     margin-left: 60px;
    
    
}
#cases2{
	padding-top: 15px;
	padding-left: 80px;
	font-size: 12pt;
	text-align: left;
	color: #607d8b;
	font-family: 'Roboto slab' ;
	font-weight: 300;
}
#nyheter {
    padding-top: 0px;
    font-size: 12pt;
    text-align: left;
    color: #607d8b;
    font-family: 'Roboto Slab';
    font-weight: 200;
    margin-left: 20px;
}

#extraInfo {
	background: #ffffff;

}

#firstExtra {
    background: #ffffff;
    color: #607d8b;
    font-size: 12pt;
    padding: 30px 20px;
    margin-top:-60px;
    text-align: left;
    margin-bottom: 40px;	
}
#thirdExtra {
	background: #93B4C4;
	color: #607d8b;
	padding: 30px 30px;
	text-align:left;	
}
#secondExtra {
	background: #93B4C4;
	padding: 30px 20px 30px 20px;
}
.marginshead {
    font-size: 20pt;
    color: #607D8B;
    margin-top: 60px;
    margin-bottom: 20px;
}
.marginshead2 {
    font-size: 20pt;
    color: #607D8B;
    margin-left:5px;
    margin-bottom: 30px;
    font-weight: 300; 
}
.marginshead3 {
    font-size: 20pt;
    font-weight:100;
    color: #607D8B;
    margin-bottom: 30px;
}
.superBgPicDesk {
	display: none;
}
.superBgPicDesk2 {
	display: none;
}
.superBgPic{
	margin: 2em;
}
#addInfo {
	padding: 0;
}
 #why {
	text-align:left; 
  	vertical-align: middle;
  	font-size: 20px;
 	color: #607d8b;
	background-color: white;
    width:100%;
    padding:30px 20px 30px 20px;	
}
#whybox {
	display: flex;
}
.addOne {
	background: #ebf9ff;
    padding-top: 1em;
    height: 450px;
}
#who {
	background: #D67145;
}
.smallarrow {
	float: right;
	margin-right: 100px;
}
#whytext {
	text-align:center; 
  	vertical-align: middle;
  	font-size: 20px;
 	padding-top: 80px;
 	color: #696969;
 	line-height: 160%;
}
.addOne div *{
	text-align: left;
}
.addOne div a {
	text-align: left;
}
/* settings for footer */


#bottomBar * {
	background: #607D8B;
	padding: 0;
}
#takeInfo {
	padding-bottom: 2em;
    padding-left: 2em;
    margin-left:30px;
}
#contactForm {
	width: 70%;
	font-family: 'Roboto slab', sans-serif;
	color: white;
	font-weight: 100;
	margin-left: 10px;
	padding: 0;
}
#buttonSubmit {
   border: none;
   color: white;
   padding: 10px 35px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   background-color: #40C4FF ;
   margin-top: 16px;
   border: 0px;
}
.adressTitle {
	font-family: 'Roboto slab', sans-serif;
	opacity: 0.5;
	margin-left: ;
	font-size: 15pt;
}
.adress {
   border: none;
   color: white;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   font-family: 'Roboto slab', sans-serif;
   margin-bottom: 2.5em;
   margin-top: 3em;
}
.contactbox {
	margin-left: 20px; 
	margin-top: 4em 
	border: 1px;
}

.linkedinbutton {
    border: 0px solid black;
    width: 30%;
    margin-left: 70%;
    margin-top: -25%;
}
	
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}


#takeInfo, #contactInfo {
	height: 100%;


}


#contactInfo a {
	margin-left: 2em;
}
#contactInfo {
  margin: 0px;
}

.inputOne{
    margin: 0.5em;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    width: 100%;
	font-size: 1em;
	line-height: 2.5em;
	outline: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: border-color 0.2s ease-in-out;
	box-shadow: none;
	margin-left: 50px;
	margin-bottom: 40px;
	width: 100%;
    }

#inputMessage {
	margin-right: 50px
}    



	.inputOne::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: white !important;
		  font-weight: 300;
		  font-size: 15pt;
		  font-family: "Roboto Slab";
		}
		  input::-moz-placeholder { /* Firefox 19+ */
		  color: white !important;
		  font-weight: 300;
		  font-size: 15pt;
		  font-family: "Roboto Slab";
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: white !important;
		  font-weight: 300;
		  font-size: 15pt;
		  font-family: "Roboto Slab";
		}
			input::-moz-placeholder { /* Firefox 18- */
			  color: !important;
			  font-weight: 300;
			  font-size: 15pt;
			  font-family: "Roboto Slab";
		}

		

}

.icon{
	height: 1em;
	height: auto;
}

.facebook{
	opacity: 50%;
	width: 2em;
}


/* FLIP  */


.hidethis {
	display: none;
}



.appbut {
	width: 30%;
    margin-left: 15px;
}
 

#secondpageH{
	background: #93b4c4; 
}


.titleSmall {
	font-size: 12pt;
	border-bottom: 1px solid #cccccc;;
	padding-bottom: 20px;
	color: #607D8B;
	    margin-top: 35px;


	
}



.articlesPage3 {
	margin-bottom: 2em;
	color: #607D8B;
}



.andrbutton {
	height: 40px;
	padding: ;
	margin: 10px;
	margin-left: 0;
	margin-top: 0;
}
.andrbutton2{
	padding-left: 15px;
    background: white;
    padding: 10px 40px;
    width: 200px;
    border-radius: 25px;
    margin-left: 10px;
}

.copyright{
	opacity: 0.5;
	font-size: 10pt;

}

.submitbutton{
margin-left: 30px !important;
}
	#form-submit {
 	border: none;
    background: #40C4FF;
    color: white;
    margin-top: 10px;
    margin-left: 40px;
    opacity: 100;
    padding-left: 15px;
    padding: 10px 40px;
    width: 200px;
    border-radius: 25px
 } 
.list-unstyled {
	display: none;
}

.buttonform {
	margin-left: -10px !important;
}

/* Media QUERIES */

 .form-control {
	height:40px!important;
	margin: 0px 40px 30px 40px;
} 

@media  screen and (max-width: 480px) {
  #teamet {
    margin: 0
  }

 #bigteam {
    height: 400px;
    margin-left: 0.5em;
    margin-top: -60px;
    margin-bottom: -70px;
}

.miljobox {
	padding: 0
	margin-left: 0;
}

#cases {
    padding-top: 0px;
    padding-left: 15px;
    line-height: 45px;
    font-size: 12pt;
    text-align: left;
    color: #607d8b;
    font-family: 'Roboto Slab';
    font-weight: 200;
    margin-left: -5px;
}

.buttonform {
	margin-left: 7px !important;
}

.titleSmall {
    font-size: 12pt;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    color: #607D8B;
    margin-top: 35px;

}

#vadvigor {
	color: white;
	padding-left: 0;
	font-size: 20pt;
	margin-left: -45px;
    width: 140%; 
    margin-top: 0;
}

.adress {
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto slab', sans-serif;
    margin-bottom: 2.5em;
    margin-top: 3em;
}

#big {
    font-size: 30pt;
    margin-top: 75px;
    width: 120%;
    margin-left: 20px;
    padding-left: 0;
    margin-bottom: 40px;
}

.something {
    height: 700px;
    margin-top: 0;
}

.inputOne{
    margin: 0.5em;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    width: 100%;
	font-size: 1em;
	line-height: 2.5em;
	outline: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: border-color 0.2s ease-in-out;
	box-shadow: none;
	margin-left: 50px;
	margin-bottom: 40px;
	width: 132%;
    }

.linkedinbutton {
    border: 0px solid black;
    width: 30%;
    margin-left: 70%;
    margin-top: -40%;
}

.facebook {
	margin-left: -30px;
}

.copyright {
    opacity: 0.5;
    width: 118%;
    margin-left: -30px;
    font-size: 10pt;
}



#toptext {
    font-family:"Roboto";
	line-height: 150%;
	font-size: 12pt;
	/* width: 125%; */
	text-align: left;
	color: white;
	padding-top: 45px;
    margin-bottom: 40px;
    margin-left: 20px;
    padding-left: 0;
}

  #whybox {
	display: flex;
  }
  #housemob {
    width:100%;
  }
	
  #why {
  	text-align: left;
    vertical-align: middle;
    font-size: 20px;
    color: #607d8b;
    background-color: white;
    width: 100%;
    padding: 30px 20px 30px 20px;
    margin-top: 0;
  }

   .form-control {
	height:40px!important;
  } 
  #toprow {
    margin-top:-100px;
    margin-left:5px;  
  }
  .addOne {
    padding-left:0em;
    padding-right: 1em;
    height: 390px;
  }

  #contactForm {
	width: 50%;
	font-family: 'Roboto slab', sans-serif;
	color: white;
	font-weight: 100;
	padding: 0;
	margin-left: 0;
}


  #appdownload{
  	margin-left: 15px;
  }
	#fliptext1 {
	line-height: ;
	width: 90%;
	font-size: 13px;
	text-align: left;
	margin-top:-24px;
	color: #607D8B;
}
  #contactTitle {
    margin-top: 30px;
    font-size: 15pt;
    margin-left: 20px;
}
#logoPicture {
	margin-left: 20px;
	
	}

#fliptext2 {
	line-height: 150%;
	width: 90%;
	font-size: 15px;
	text-align: left;
	margin-top:-20px;
	color: #607D8B;
}

#fliptext3 {
	line-height: 150%;
	width: 90%;
	font-size: 15px;
	text-align: left;
	color: #607D8B;
}

#tmplteam {
	/* 	width: 100%;
	height: 500px; */
	margin-top: -40px;
    float:left;
    display: none;

}

.marginshead {
    font-size: 20pt;
    color: #607D8B;
    margin-top: 0;
    margin-bottom: 60px;
}

.imgSmall {
    width: 100px;
    height: auto;
    margin-bottom: 30px;
    margin-left: 5.5em;
}

#ekohead {
	margin-top: 30px;
	margin-bottom: 40px;
}

.smaragd {
    width: 300px;
    margin-left: 1;
    float: left;
    margin-top: -50px;
}
  #vadvigor {
    padding-left:0px;
    /* width:150%; */
  }
  #celltext {
    width:135%;
  }
  .superBgPic {
    width: 320px;
    margin-left: -2em;
}
  #why{
  	margin-top: 2em;

  }
  #takeInfo{
    padding:0em;
    width:75%;
  }



}




@media screen and (min-width: 1200px){

#appdownloadDesk {
	display: block;
}
#appdownload {
	display: none;
}

.stylecontacts {
	margin-left: 25px
}

.miljobox {
	padding: 0;
	margin-left: 1em;
}

#lovet {


}
#grafen {
	padding-right: 10px;
}

.facebook {
	margin-top: 2em;
}

#fliptext1 {
	line-height: ;
	font-family:"Roboto";
	width: 80%;
	font-size: 12pt;
	text-align: left;
	margin-top: 70px;
	color: #607D8B;
	margin-left: 10px;

}

 #adresshead {
 	margin-left: 0px;
 	font-family: "Roboto";	
 	margin-left: 0;
 	margin-top: 30px;
 }
.marginshead {
    font-size: 20pt;
    color: #607D8B;
    margin-left:;
    margin-bottom: 30px;
    font-weight: 300;
}

  #contactTitle {
    margin-top:30px;
    margin-left: 10px;
    font-size: 15pt;
  }

  .linkedinbutton {

  	width: 65%;
  	margin-top: 0;
  	margin-left: 0;
}

#contactForm {
	width: 50%;
	font-family: 'Roboto slab', sans-serif;
	color: white;
	font-weight: 100;
	margin-left: 30px;
	padding: 0;
}

 .form-control {
	height:70px!important;
} 



#bigteam{
	height: 400px;
	margin-left: 3em;
	display: none;
}

#tmplteam {
    display: block;
    /* height: 500px; */
    margin-left: -2.4em; 
}

  #whybox {
	display: flex;
  }
#student, #rosendal, #comhem {
   height:320px;
   text-align: center;
}
.marginshead2 {
    font-size: 20pt;
    color: #607D8B;
    margin-left:25px;
    margin-bottom: 30px;
    font-weight: 300; 
}
.marginshead3 {
    font-size: 20pt;
    font-weight:100;
    color: #607D8B;
    margin-bottom: 20px ;
}

.addOne {
	background: #ebf9ff;
	padding-left: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    height: 450px;
}
#nyheter {
    padding-top: 0px;
    padding-left: 10px;
    margin-bottom:80px;
    font-size: 12pt;
    text-align: left;
    color: #607d8b;
    font-family: 'Roboto Slab';
    font-weight: 200;
    margin-left: 30px;
}
#newstext{
    font-family:"Roboto";
	margin-bottom: -20px;
	font-size: 12pt;
	text-align:left;
	color: #607D8B;
	margin-left: 10px;
	width: 83%;
	-webkit-animation: 0;
}
	#form-submit {
 	border: none;
    background: #40C4FF;
    color: white;
    margin-top: 2em;
    margin-left: 4em;
    opacity: 100;
    padding-left: 15px;
    padding: 10px 40px;
    width: 200px;
    border-radius: 25px
 } 



	body, html { 
    	width: 100%;
    	height: 100vh;
	}
#mainNav {
	max-width: 100%;
}
 
 .nyheterna {
	text-align: justify;
	
}  

.smaragd {
    width: 450px;
    margin-top: 30px;
    float: right;
    margin-bottom: 55px;
    margin-right: 5em;
}


#logoPicture {
	margin-left:60px;
}


 .imgBig {
	width: auto;
	height: 130px;
	margin: 65px auto;
}

.imgSmall {
    margin-top: 130px;
    width: auto;
    float: right;
    margin-right: 8em;
}

#big {
    font-size: 25pt;
    margin-top: 75px;
    width: 100%;
    line-height: 125%;
    font-family: "Roboto Slab";
    font-weight: 300;
    margin-left: 0;
    padding-left: 15px;
   
}

#toptext {
    line-height: 150%;
    font-size: 12pt;
    width: 100%;
    text-align: left;
    color: white;
    margin-top: 0px;
    margin-left: 0;
    padding-left: 15px;
	
}

#housedesk {
	width: 30em;
	padding-bottom:50px;
}

 
 
#imgForDesk {
    display: block;
    margin-left: -10px;
    padding: 0;
}

    #housemob {
    	display: none;
    
    }
	

	.deskImg {
		display: block!important;
	}
	.mobileImg{
		display:none!important;
	}



	/* get this part the same size as other two */
	#geninfo{
		display: flex;
		min-width: 100vh;
	}

	.justify{
		text-align: justify;
	}


    #miijo, #ekonomi {
	height: 19em;
	padding-left: 79px;
}	
	#social {
	height: 38em;
	padding-left: 79px;
	}

		.bx-wrapper .bx-controls-direction a {
	bottom: 40px;
}

.extrasmall {
	padding-left: 79px;
}

/* STYLE CHANGE  */
#vadvigor {
	color: white;
	padding-left: 0;
	font-size: 1.67em;
	margin-left: 10px;
	margin-top: 40px;
}

#casesline {
		margin-top: 50px;
	margin-bottom: 30px;

}

#celltext {
	width: 150%;
    margin-left:10px;
}

#teamet{
	margin-top: 30px;
	font-size: 20pt;
	margin-left: 0;
	padding: 0;
	margin-bottom: 20px;
}
#cases2{
	padding: 0;
	padding-bottom: 0;
	margin-bottom: 0; 
	margin-top:40px;
	margin-left: 79px;
	font-size: 12pt;
	text-align: left;
	color: #607d8b;
	font-family: 'Roboto slab' ;
	font-weight: 300;
}
#firstExtra {
    background: #ffffff;
    color: #607d8b;
    font-size: 20px;
    padding: 0 ;
    margin-top: 0px;
    text-align: left;
    margin-left: 79px;
}
#secondExtra {
	background: #93B4C4;
	padding: 3em;
}
 #why {
  	vertical-align: middle;
  	font-size: 20px;
 	color: #607d8b;
	background-color: white;
	padding-left:79px ;
	width: 70%;
	margin-top: 2em;
}
#adressTitle {
	font-family: 'Roboto slab', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 15pt;
}
.contactbox {
	margin-left: 2em; 
	margin-top: 0 ;
} 
#tabs-10 {
  padding-bottom: 50px;
} 
.titleSmall {
	font-size: 12pt;
	border-bottom: 1px solid #cccccc;;
	padding-bottom: 30px;
	color: #607D8B;
	margin-top: 35px;
	line-height: 20px;
	margin-bottom: 20px;
	margin-top: 70px;
	font-family: "Roboto";	
}
#teamtext2{
    font-family:"Roboto";
	margin-bottom: 20px;
	font-size: 12pt;
	text-align:left;
	color: #607D8B;
	margin: 0;
	width:90%;
}

#logoPicture {
	margin-left: 65px;
}

#additInfo {
	display: flex;
}



	.superBgPic {
		display: none;
		
	}



	.superBgPicDesk {
	display: block;
	margin-top: 0px;
	width: 600px; 
	margin-right:60px;
	  
	}
	
	
	
	.superBgPicDesk2 {
	display: block;
	    margin-top: 35px;
    margin-bottom: 35px;
	width: 150px; 
	margin-right:3em;
	    width: 100%;
    align-content: center;
	}

	.superBgPic{
		margin: 2em;
	}

	.phonebox {
		display: flex;
		justify-content: center;
		align-content:: center;
	}

	.phonepart {
		display:flex;
		align-items: center;

	}

	.phonetext {
		align-items: center;
		max-width: 30%;
	}

	#rosendal, #comhem, #student {
		display: block;
	/* 	border-left: 1px solid black; */
		position: relative;	
		text-align:left; 
		font-size: 20px;
	  	vertical-align: middle;
	 	display: table-cell; 
	 	margin-top: -70px;
	 	color: #696969;
	}
	#rosendal:before {
	    position: absolute;
	    z-index: -10;
	    content: "";
	    left: -0.7em;
	    top: 1em;
	}
	#comhem:before {
		position: absolute;
		z-index: -10;
		background: url(../img/Line.png);
		 /*вместо того, чтобы создавать div с фоном и позиционировать внутри родительского блока*/
	    height: 350px;
	    width: 1px;
	    content: "";
		left: -0.7em;
		top: 1em;

	 }	

	 a.linkButNodecor {
	 	text-decoration: none;
	 	text-align: left;
	 	color: #607D8B;
	 	width: 70%;

	 } 
	


	/* the first page will be fullscreen in the 
	desktop version */

	#first {
		min-width: 100%;
    	min-height: 50%;
    	position: relative;
	}
	
	


	.nextButton, .prevButton {
		display: none;

	}




.nextButton {
	border: none;
	background: none;
	margin-bottom: 10px;
}

.prevButton {
	border: none;
	background: none;
	margin-left: 10px;
}

#housedesk {
    width: 32em;
    margin-top: 70px;
    margin-right: 60px;
    float: right;
}

.copyright{
	margin-left: 40px;
	margin-top: 12em;
	font-size: 10pt;
}

.inputOne{
    width: 230%;
}
}

@media  screen and (min-width: 1400px) {
	#tmplteam {
		display: block;
		/* 	height: 500px; */
		margin-left: -2.4em; */

} 

.copyright{
	margin-left: 40px;
	margin-top: 12em;
	font-size: 10pt;
}

#fliptext1 {
	line-height: ;
	font-family:"Roboto";
	width: 80%;
	font-size: 12pt;
	text-align: left;
	margin-top: 70px;
	color: #607D8B;
	margin-left: 10px;

}

#teamtext2 {
    font-family: "Roboto";
    margin-bottom: 20px;
    font-size: 12pt;
    text-align: left;
    color: #607D8B;
    margin: 0;
    width: 90%;
}

.stylecontacts {
	margin-left: 25px
}
	#form-submit {
 	border: none;
    background: #40C4FF;
    color: white;
    margin-top: 2em;
    margin-left: 4em;
    opacity: 100;
    padding-left: 15px;
    padding: 10px 40px;
    width: 200px;
    border-radius: 25px
 } 

 #bigteam{
	height: 400px;
	margin-left: 3em;
	display: none;
}

  #contactTitle {
    margin-top:30px;
    margin-left: 49px;
    font-size: 15pt;
  }

 .form-control {
	height:40px!important;
} 

#contactForm {
	width: 50%;
	font-family: 'Roboto slab', sans-serif;
	color: white;
	font-weight: 100;
	margin-left: 30px;
	padding: 0;
}

.adressTitle {
	font-family: 'Roboto slab', sans-serif;
	opacity: 0.5;
	margin-left: 20px;
	font-size: 15pt;

}

 #adresshead {
 	margin-left: 0px;
 	font-family: "Roboto";	
 	margin-left: 0;
 	margin-top: 30px;
 }
   }



@media screen and (min-width: 1600px) {
	#tmplteam {
	
		margin-left: -2.4em; 
		}

	 #bigteam{
	height: 400px;
	margin-left: 3em;
	display: none;
}

.stylecontacts {
	margin-left: 25px
}

.copyright{
	margin-left: 40px;
	margin-top: 12em;
	font-size: 10pt;
}

.facebook {
	margin-top: 2em;
}

.miljobox {
	padding: 0;
	margin-left: 1em;
}
#fliptext1 {
	line-height: ;
	font-family:"Roboto";
	width: 80%;
	font-size: 12pt;
	text-align: left;
	margin-top: 70px;
	color: #607D8B;
	margin-left: 10px;

}

.adressTitle {
	font-family: 'Roboto slab', sans-serif;
	opacity: 0.5;
	margin-left: 20px;
	font-size: 15pt;

}
 .form-control {
	height:70px!important;
} 
 #adresshead {
 	margin-left: 0px;
 	font-family: "Roboto";	
 	margin-left: 0;
 }

 #contactForm {
	width: 50%;
	font-family: 'Roboto slab', sans-serif;
	color: white;
	font-weight: 100;
	margin-left: 30px;
	padding: 0;
}

  #contactTitle {
    margin-top:30px;
    margin-left: 0
    font-size: 15pt;
  }

  #whybox {
	display: flex;
  }

/* 	  #form-submit {
  	padding: 10px 30px 10px 30px;
  	margin-right: 2em;
  	border-radius: 0px;
  	border: none;
  	background: #40C4FF;
  	color: #fff;
  	margin-top: 2em;
  } */ 
}


@media screen and (min-width: 1800px){



#tmplteam{
	margin-left: -2.4em; {

	}

 .stylecontacts {
	margin-left: 25px
}

.copyright{
	margin-left: 40px;
	margin-top: 12em;
	font-size: 10pt;
}

.miljobox {
	padding: 0;
	margin-left: 1em;
}

.facebook {
	margin-top: 2em;
}

#fliptext1 {
	line-height: ;
	font-family:"Roboto";
	width: 80%;
	font-size: 12pt;
	text-align: left;
	margin-top: 70px;
	color: #607D8B;
	margin-left: 10px;

}

.nyheterna {
	text-align: justify;
}
 .form-control {
	height:70px!important;
}

#contactTitle {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 15pt;
}

.adressTitle {
	font-family: 'Roboto slab', sans-serif;
	opacity: 0.5;
	margin-left: 20px;
	font-size: 15pt;

}

#bigteam{
	height: 400px;
	margin-left: 3em;
	display: none;
}


  #whybox {
	display: flex;
  }
#nyheter {
    padding-top: 0px;
    padding-left: 10px;
    margin-bottom:80px;
    font-size: 12pt;
    text-align: left;
    color: #607d8b;
    font-family: 'Roboto Slab';
    font-weight: 200;
    margin-left: 30px;
}
#student, #rosendal, #comhem {
    height:320px;
   text-align: center;
}
#firstExtra {
    background: #ffffff;
    color: #607d8b;
    font-size: 12pt;
    padding: 30px 50px;
    margin-top:-60px;
    text-align: left;
    margin-bottom: 40px;	
}
#newstext{
    font-family:"Roboto";
	margin-bottom: -20px;
	font-size: 12pt;
	text-align:left;
	color: #607D8B;
	margin-left: 10px;
	width: 83%;
	-webkit-animation: 0;
}
#secondExtra {
	background: #93B4C4;
	padding: 3em;
}

.addOne {
	background: #ebf9ff;
	padding-left: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    height: 450px;
}
/*   #form-submit {
 	padding: 10px 30px 10px 30px;
 	margin-right: 18em;
 	border-radius: 0px;
 	border: none;
 	background: #40C4FF;
 	color: #fff;
 	margin-top: 2em;
 } */

#big {
    font-size: 2.5em;
    margin-top: 60px;
    width: 100%;
}
	#housedesk {
	width: 35em; 
	padding-bottom:50px;
   margin-top:70px;
   margin-left:350px;
}


#logoPicture {
	    margin-left: 60px;
}

.marginshead {
    font-size: 20pt;
    color: #607D8B;
    margin-bottom: 30px;
    font-weight: 300;
}
.marginshead2 {
    font-size: 20pt;
    color: #607D8B;
    margin-left:25px;
    margin-bottom: 30px;
    font-weight: 300; 
}
.marginshead3 {
    font-size: 20pt;
    font-weight:100;
    color: #607D8B;
    margin-bottom: 20px ;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*  #form-submit {
	padding: 10px 30px 10px 30px;
	border-radius: 0px;
	border: none;
	background: #40C4FF;
	color: #fff;
	margin-top: 2em;
} */


 #adresshead {
 	margin-left: 0px;
 	font-family: "Roboto";	
 	margin-left: 0;
 	margin-top: 30px;
 }


/* 	#social a.bx-prev {
margin-top: 2em;
}  */
    #miijo, #ekonomi {
	height: 19em;
}	
	#social {
	height: 38em;
	padding-top: 0
	
	}
}



